<script>
	import { onMount, afterUpdate, } from "svelte";
	import { start, paused, seconds, elapsed } from '../store/time.js';

	/**
	 * @type {HTMLElement | null}
	 */
	let ta;
	let elCountdown;
	let scratchstore = '';
	let showCountdown = false;
	let obs = false;
	let cancel = false;

	/**
	 * @type {{ identifier: any; }[]}
	 */
	let ongoingTouches = [];

	let doScratchIt = (/** @type {number} */ count, /** @type {boolean} */ cancel) => { }

	$: scratch = getScratch(scratchstore);
	$: watchScratch = doScratchIt($elapsed, cancel);

	const getScratch = (/** @type {string} */ value) => {
		return value;
	}

	const cancelScratch = () => {
		cancel = true;
		paused.set(true);
		showCountdown = false;
	}

	const startScratch = () => {
		
	}

	const KeyPress = (/** @type {any} */ e) => {
		var evtobj = window.event? event : e
		if (evtobj.keyCode == 80 && evtobj.altKey) {
			paused.set(!$paused);

			if ($paused) {
				seconds.set($elapsed);
			} else {
				start.set(new Date());
			}
		}

		if (evtobj.keyCode == 82 && evtobj.altKey) {
			paused.set(false);
			start.set(new Date());
			seconds.set(600);

			scratch = "";
		}

		if (evtobj.keyCode == 27) {
			cancelScratch();
		}
	}

	const ongoingTouchIndexById = (/** @type {any} */ idToFind) => {
		for (var i = 0; i < ongoingTouches.length; i++) {
			var id = ongoingTouches[i].identifier;
			
			if (id == idToFind) {
			return i;
			}
		}
		return -1;    // not found
	}

	const copyTouch = (/** @type {{ identifier: any; pageX: any; pageY: any; }} */ touch) => {
		return { identifier: touch.identifier, pageX: touch.pageX, pageY: touch.pageY };
	}

	const handleStart = (/** @type {{ preventDefault: () => void; changedTouches: any; }} */ evt) => {
		evt.preventDefault();
		// console.log("touchstart.");

		var touches = evt.changedTouches;
        
		for (var i = 0; i < touches.length; i++) {
			ongoingTouches.push(copyTouch(touches[i]));
		}
	}

	const handleEnd = (/** @type {{ preventDefault: () => void; changedTouches: any; }} */ evt) => {
		evt.preventDefault();
		// console.log("touchend");
		var touches = evt.changedTouches;

		for (var i = 0; i < touches.length; i++) {
			var idx = ongoingTouchIndexById(touches[i].identifier);

			if (idx >= 0) {
				ongoingTouches.splice(idx, 1);  // remove it; we're done
				cancelScratch();
			}
		}
	}

	const handleCancel = (/** @type {{ preventDefault: () => void; changedTouches: any; }} */ evt) => {
		evt.preventDefault();
		// console.log("touchcancel.");
		var touches = evt.changedTouches;
	
		for (var i = 0; i < touches.length; i++) {
			var idx = ongoingTouchIndexById(touches[i].identifier);
			ongoingTouches.splice(idx, 1);  // remove it; we're done
		}
	}

	onMount(async () => {
		localforage.config({
			name: 'Scratch'
		});

		localforage.getItem('scratch', function(/** @type {any} */ err, /** @type {string} */ value) {
			scratchstore = value;
		});

		setTimeout(() => {
			ta.focus();
		}, 300);

		document.onkeydown = KeyPress;

		elCountdown = document.getElementById('countdown');
		ta = document.getElementById('scratch');

		let passiveSupported = false;

		try {
			var options = {
				get passive() { // This function will be called when the browser
								//   attempts to access the passive property.
				passiveSupported = true;
				}
			};

			window.addEventListener("test", options, options);
			window.removeEventListener("test", options, options);
		} catch(err) {
			passiveSupported = false;
		}

		elCountdown.addEventListener("touchstart", handleStart,  passiveSupported
                               ? { passive: true } : false);
		elCountdown.addEventListener("touchend", handleEnd, passiveSupported
                               ? { passive: true } : false);
  		elCountdown.addEventListener("touchcancel", handleCancel, passiveSupported
                               ? { passive: true } : false);

		doScratchIt = (count, cancel) => {
			if (!cancel && count === 0) {
				scratch = '';
				showCountdown = false;
			}

			if (cancel) {
				showCountdown = false;
			}

			ta.focus();
		}
  	});

  	afterUpdate(async () => {
		localforage.setItem('scratch', scratch).then(function (value) {
			// console.log(value);
		}).catch(function(err) {
			// console.log(err);
		});
	});

	function scratchIt(e) {
		cancel = false;
		seconds.set(5);
		start.set(new Date());
		showCountdown = true;
		paused.set(false);

		ta.blur();
	}

	function unmask(e) {
		obs = false;
	}

	function visibilityChange(event) {
		if(document.hidden) {
			obs = true;
		}
	}

</script>

<style>
	#scratch-wrapper {
		height: calc(100% - 1em);
	}

	#scratch {
		border: none;
		width: 100%;
	}

	textarea {
		padding: 8px;
		overflow: auto;
		background-color: inherit;
		color: inherit;
		font-size: 14px;
	}

	textarea, textarea:hover {
		width: 100%;
		height: 100%;
		outline: none;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		outline: 0px !important;
		-webkit-appearance: none;
		resize: none;
	}

	#countdown {
		position: fixed;
		display: none;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		font-size: 20em;
		color: rgba(248,248,255, .5);
	}

	#countdown.active {
		display: flex;
	}

	.btn {
		display: inline-block;
		position: fixed;
		top: 12px;
		right: 14px;
		padding: 4px 14px;
		margin: 0;
		text-decoration: none;
		background: transparent;
		color: rgb(248,248,255);
		cursor: pointer;
		text-align: center;
		border: 1px solid rgb(248,248,255);
		border-radius: 0;
		transition: background 250ms ease-in-out,
					transform 150ms ease;
        appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		border-style: solid;

	}

	.btn.scratchit {
		z-index: 30;
	}

	.btn:hover,
	.btn:focus {
		background: rgba(248,248,255, .2);
		color: rgb(248,248,255);
	}

	.btn:focus {
		outline: none;
	}

	.btn:active {
		transform: scale(0.99);
	}
	.btn[disabled] {
		border: 1px solid rgba(248,248,255.1);
		color: rgb(248,248,255,.1);
	}

	/* 
	##Device = Desktops
	##Screen = 1281px to higher resolution desktops
	*/
	@media (min-width: 1281px) {

	}
	
	/* 
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
	*/
	@media (min-width: 1025px) and (max-width: 1280px) {
		
	}

	/* 
	##Device = Tablets, Ipads (portrait)
	##Screen = B/w 768px to 1024px
	*/
	@media (min-width: 768px) and (max-width: 1024px) {
		textarea {
			font-size: 1.02rem;
		}
	}

	/* 
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
	*/
	@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
		textarea {
			font-size: 1.02rem;
		}
	}

	/* 
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
	*/
	@media (min-width: 481px) and (max-width: 767px) {
		
	}

	/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
	*/
	@media (min-width: 320px) and (max-width: 480px) {
		textarea {
			font-size: 1.02rem;
		}
	}

	.obs:before {
		position: fixed;
		content: 'Click to unmask';
		height: 100vh;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		left: 0;
		font-size: 2em;
	}

	.obs textarea {
		color: transparent;
		text-shadow: 0 0 4px rgba(255, 255, 255, .2);
		letter-spacing: -.1em;
		-webkit-touch-callout: none; /* iOS Safari */
    	-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Opera and Firefox */
	}
</style>

<svelte:head>
	<title>Scratch</title>
</svelte:head>

<svelte:window on:visibilitychange={visibilityChange} />

<div id="scratch-wrapper" class:obs="{obs}" on:click={unmask}>
	<label style="display:none;" id="labelscratch">Scratch Input</label>
	<textarea id="scratch" bind:value={scratch} aria-labelledby="labelscratch" spellcheck="{!obs}"></textarea>
</div>
<button class="btn scratchit" on:click={scratchIt}>
	Scratch
</button>

<div id="countdown" class:active="{showCountdown}">
	{$elapsed}
</div>