<script>
	export let segment;
</script>

<style>
	.nav-container {
		height: 50px;
		width: 100%;
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		align-content: flex-start;
		margin: 0 15px;
		font-size: 1.6em;
		top: 0;
		background-color:rgb(51, 51, 51);
		z-index: 20;
	}

	.nav-container::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: -15px;
		width: 100%;
		height: 1px;
		background-color: rgba(248,248,255,.2);

	}

	.nav-container .logo {
		padding-right: 2px;
		position: relative;
		top: 6px;
	}

	nav {
		font-weight: 300;
		font-size: 1rem;
		padding: 0 1em;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	/* clearfix */
	ul::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		display: block;
		float: left;
	}

	.selected {
		position: relative;
		display: inline-block;
	}

	.selected::after {
		position: absolute;
		content: '';
		width: calc(100% - 1em);
		height: 2px;
		background-color: rgb(255,62,0);
		display: block;
		bottom: -1px;
	}

	a {
		text-decoration: none;
	}
</style>
<div class="nav-container">
	<a href='.'><img class="logo" src="logo.png" alt="Scratch" />cratch</a>
</div>