<svelte:head>
	<title>Terms of Service</title>
</svelte:head>

<style>
    article {
        padding-bottom: 50px;
    }

    dt, dd {
        display: inline-block;
    }

    dd {
        margin: 0;
    }
</style>

<article>
  <header>
    <h1>Terms of service</h1>
    <p>Terms and conditions for using Scratch.dantuck.com.</p>
  </header>

  <div>
    <p>
        <strong>Introduction.</strong>
        
        The Service is offered by dantuck.com ("<strong>dantuck.com</strong>" , "<strong>us</strong>" 
        or "<strong>we</strong>").  When we use the term "<strong>you,</strong>" 
        we refer to an end user of the Service.
    </p>

    <p>
        <strong>Acceptance.</strong>
        
        Please read this document carefully. This document and other documents 
        we refer to, like our Privacy Policy (collectively, the 
        "<strong>Agreement</strong>"), govern your access to the Service. 
        By using the Service, you agree, effective as of such date 
        (the "<strong>Effective Date</strong>") on behalf of yourself 
        and, if applicable, your organization, to be bound by this Agreement,
        <strong>including arbitration on an individual basis</strong>.
    </p>

    <p>
        You are only authorized to use the Service if you agree 
        to abide by all applicable laws and this Agreement. Please read this 
        Agreement carefully and save it. If you do not agree with it, you should 
        discontinue use of the Service immediately.
    </p>

    <ol>
        <li>
            <p>
                <strong>Representations About You.</strong>
                
                You represent that you have the power and authority to enter into 
                this Agreement on behalf of yourself or, if applicable, your 
                organization. You also represent that (a) you have read and understand 
                this Agreement, (b) you are not located in a country that is subject 
                to a U.S. Government embargo, or that has been designated by the 
                U.S. Government as a "terrorist supporting" country, and 
                (c) you are not listed on any U.S. Government list of prohibited 
                or restricted parties. If you are 13 or older but under the age of 18, 
                you must review this Agreement with your parent or guardian to make sure 
                that you and your parent or guardian understand it and that they agree 
                to it on your behalf. Additionally, if you are entering into this 
                Agreement on behalf of your organization, you represent that you are 
                the authorized agent of the organization and have the legal authority 
                to enter into this Agreement on its behalf.
            </p>
        </li>
        <li>
            <p>
                <strong>Fees for the Use of the Service.</strong> 
                
                There are currently no fees to use this version of the Service, although
                dantuck.com reserves the right to charge fees in the future.
            </p>
        </li>
        <li>
            <p>
                <strong>Term and Termination.</strong>
                
                This Agreement will commence on the Effective Date and will remain in effect 
                until you either stop using the service or we terminate this Agreement.
                We may terminate this Agreement or remove this service without notice 
                if you violate any of the terms of this Agreement or if you violate applicable 
                law or the rights of third parties. In no event will dantuck.com be liable for 
                the removal or disabling of access to the Service. Upon termination of this 
                Agreement: 
                
                (i) all license and other rights granted to you under this Agreement will 
                terminate, and 
                
                (ii) you must cease all use of the Service.
            </p>
        </li>
        <li>
            <p>
                <strong>Content.</strong>
                
                dantuck.com does not claim any ownership rights in any text, works of authorship, 
                or any other materials that you type within the Service (collectively, 
                "<strong>Your Content</strong>"). After typing Your Content to the Service, 
                you continue to retain all ownership rights in Your Content, and subject to any 
                licenses granted by you, you continue to have the right to use Your Content in 
                any way you choose. By typing Your Content, you grant dantuck.com no rights to transmit
                or store your content on any data storage outside the secure web browser storage, 
                which includes, without limitation, the right to store Your Content and share or display 
                it with other users of the Service. 
                
                You represent and warrant that: 
                
                (i) you own Your Content or otherwise have the right to provide it to us, and 
                
                (ii) the typing of Your Content on the Service does not violate the privacy rights, 
                publicity rights, copyrights, trademark rights, contract rights or any other rights 
                of any person or entity.  
                
                You acknowledge that dantuck.com is not responsible for monitoring Content. 
                
                You acknowledge that dantuck.com will not have access to the Content as it is 
                never transmitted via the Service. It is your sole responsibility to back-up Your Content. 
            </p>
        </li>
        <li>
            <p>
                <strong>Data.</strong> 
                
                dantuck.com does not collect data from you with the use of the Service.
            </p>
        </li>
        <li>
            <p>
                <strong>Limitations on Availability.</strong>
                
                The Service is not available at all times, in all languages or in all geographies. 
                dantuck.com makes no representation will achieve any particular uptime, or that 
                the Service is appropriate or available for use in any particular location. Use of 
                the Service is void where prohibited.  dantuck.com may also impose limits on the use 
                or access to the Service, including if required by law.  For example, we may impose 
                rate limits on how often the Serviced can be accessed in any window of time in order 
                to avoid abuse.
            </p>
        </li>
        <li>
            <p>
                <strong>Third-Party Services and Materials.</strong> 
                
                The Service will not enable access to third-party products and services.
            </p>
        </li>
        <li>
            <p>
                <strong>Disclaimer of Warranty.</strong> 
                
                YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT USE OF THE SERVICE, AND YOUR INTERACTIONS 
                OR TRANSACTIONS IN CONNECTION WITH THE SERVICE ARE AT YOUR SOLE RISK AND THAT THE 
                ENTIRE RISK AS TO SATISFACTORY QUALITY, PERFORMANCE, ACCURACY, AND EFFORT IS WITH 
                YOU. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE SERVICE IS PROVIDED "AS IS" 
                AND "AS AVAILABLE," WITH ALL FAULTS AND WITHOUT WARRANTY OF ANY KIND.  DANTUCK.COM 
                HEREBY DISCLAIMS ALL WARRANTIES AND CONDITIONS WITH RESPECT TO THE SERVICE, AND YOUR 
                INTERACTIONS OR TRANSACTIONS IN CONNECTION WITH THE SERVICE, EITHER EXPRESS, IMPLIED, 
                OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES AND/OR CONDITIONS 
                OF MERCHANTABILITY, OF SATISFACTORY QUALITY, OF FITNESS FOR A PARTICULAR PURPOSE, OF 
                ACCURACY, OF QUIET ENJOYMENT, AND OF NONINFRINGEMENT OF THIRD-PARTY RIGHTS. DANTUCK.COM
                DOES NOT WARRANT AGAINST INTERFERENCE WITH YOUR ENJOYMENT OF THE SERVICE, THAT THE 
                SERVICE WILL MEET YOUR REQUIREMENTS, THAT THE OPERATION OF THE SERVICE WILL BE 
                UNINTERRUPTED OR ERROR-FREE, OR THAT DEFECTS WILL BE CORRECTED. SOME JURISDICTIONS DO 
                NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES OR LIMITATIONS ON APPLICABLE STATUTORY 
                RIGHTS OF A CONSUMER, SO THE ABOVE EXCLUSION AND LIMITATIONS MAY NOT APPLY TO YOU.
            </p>
        </li>
        <li>
            <p>
                <strong>Limitation of Liability.</strong> 
            
                TO THE FULLEST EXTENT PERMITTED UNDER APPLICABLE LAW, IN NO EVENT SHALL DANTUCK.COM 
                BE LIABLE FOR (I) PERSONAL INJURY OR ANY INCIDENTAL, SPECIAL, INDIRECT, OR CONSEQUENTIAL 
                DAMAGES WHATSOEVER, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF PROFITS, LOSS OF 
                DATA, BUSINESS INTERRUPTION, OR ANY OTHER COMMERCIAL DAMAGES OR LOSSES, ARISING OUT OF 
                OR RELATED TO YOUR USE OR INABILITY TO USE THE SERVICE, HOWEVER CAUSED, REGARDLESS OF THE 
                THEORY OF LIABILITY (CONTRACT, TORT, OR OTHERWISE) AND EVEN IF DANTUCK.COM HAS BEEN 
                ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR (II) ANY DAMAGES WHATSOEVER ARISING OUT 
                OF YOUR CONDUCT AND INTERACTION WITH THIRD PARTIES THROUGH THE SERVICE.  SOME 
                JURISDICTIONS DO NOT ALLOW THE LIMITATION OF LIABILITY FOR CERTAIN TYPES OF DAMAGES, 
                SO THIS LIMITATION MAY NOT APPLY TO YOU. IN NO EVENT SHALL DANTUCK.COM'S TOTAL LIABILITY 
                TO YOU FOR ALL DAMAGES (OTHER THAN AS MAY BE REQUIRED BY APPLICABLE LAW IN CASES INVOLVING 
                PERSONAL INJURY CAUSED BY DANTUCK.COM) EXCEED THE GREATER OF: (i) THE AMOUNTS PAID OR 
                PAYABLE UNDER THIS AGREEMENT (IF ANY) IN THE 12 MONTH PERIOD PRECEDING THE APPLICABLE CLAIM,
                OR (ii) $500.00. THE FOREGOING LIMITATIONS WILL APPLY EVEN IF THE ABOVE STATED REMEDY FAILS 
                OF ITS ESSENTIAL PURPOSE.
            </p>
        </li>
        <li>
            <p>
                <strong>Compliance with Law, Export and Other Restrictions.</strong> 
                
                To the extent you choose to use the Service, you agree to comply with any applicable 
                laws, including but not limited to applicable local laws. You may not use or otherwise 
                export or re-export it except as authorized by United States law and the laws of the 
                jurisdiction in which the Service was accessed.
            </p>
        </li>
        <li>
            <p>
                <strong>Privacy Policy.</strong>
                
                For information regarding our collection and use of information you provide, 
                see our <a href="#">Privacy Policy</a>, which is incorporated 
                into this Agreement by this reference.
            </p>
        </li>
        <li>
            <p>
                <strong>Governing Law and Arbitration.</strong>
                
                The Agreement will be governed by and construed in accordance with the laws of 
                the State of Colorad applicable to agreements entered into, and to be performed 
                entirely, within Colorado between Colorado residents. Any dispute, controversy 
                or claim arising out of this Agreement will be settled by binding arbitration 
                pursuant to the Commercial Rules (or Consumer Rules, to the extent applicable) 
                of the American Arbitration Association (“<strong>Rules</strong>”) then in effect. 
                Notwithstanding those Rules, the following provisions will apply to such 
                arbitration: (a) the arbitration will be conducted by a single arbitrator, 
                (b) the fees of the arbitrator shall be equally borne (50/50) by the parties, 
                and (c) the proceedings shall be in the English language and shall take place 
                in Denver, Colorado or another location reasonably convenient to both parties. 
                The arbitrator shall reach a binding decision regarding the issues presented as 
                it deems fair, reasonable and appropriate, and such decision shall have the full 
                force and effect of a binding judgment, which may be entered in any court having 
                proper jurisdiction. Each party may seek injunctive relief in any court of 
                competent jurisdiction. <strong>You and dantuck.com agree to resolve any dispute 
                in arbitration on an individual basis only, and not on a class or collective 
                basis</strong>
            </p>
        </li>
        <li>
            <p>
                <strong>Modifications.</strong> 
                
                We may modify the terms of this Agreement from time to time. Any modification shall 
                be effective when publish the modification (via an website update) and you signify 
                your acceptance (via use of this service).
            </p>
        </li>
        <li>
            <p>
                <strong>Miscellaneous.</strong>
                
                This Agreement constitutes the entire agreement between you and dantuck.com regarding 
                the Service. The failure of dantuck.com to exercise or enforce any right or provision 
                of this Agreement shall not operate as a waiver of such right or provision. The section 
                titles in this Agreement are for convenience only and have no legal or contractual 
                effect. "<strong>dantuck.com</strong>" and all associated logos displayed within the 
                Service are trademarks of dantuck.com or its licensors. This Agreement operates to the 
                fullest extent permissible by law. dantuck.com may freely transfer or assign this 
                Agreement and any of its rights or obligations hereunder. You may not transfer or 
                assign this Agreement or any of your rights or obligations hereunder without the prior 
                written consent of dantuck.com, and any attempt to do so shall be null and void. If any 
                provision of this Agreement is unlawful, void or unenforceable, that provision is 
                deemed severable from this Agreement and does not affect the validity and enforceability 
                of any remaining provisions.
            </p>
        </li>
        <li>
            <p>
                <strong>Contact Us.</strong> 
                
                dantuck.com can be reached at:
            </p>
        </li>
    </ol>
  </div>
  
  <footer>
    <dl>
      <div>
        <dt>Published</dt>
        <dd>Nov 20, 2019</dd>
      </div>
    </dl>
  </footer>
  
</article>